# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Env files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/

# Test / coverage
tests/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Node
node_modules/

# C++ build
cpp_engine/*.exe
cpp_engine/*.o
cpp_engine/sort_engine

# Temporary files
*.tmp
*.swp