APP_ENV=development

SECRET_KEY=change-me

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=sort_portfolio_local
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password

DB_HOST=db
DB_PORT=3306
DB_USER=app_user
DB_PASSWORD=app_password
DB_NAME=sort_portfolio_local

SWAGGER_ENABLED=true
ALLOW_PUBLIC_SIGNUP=true
GUEST_SAVE_ENABLED=false

RUN_BATTLE_ARRAY_SIZE_MIN=10
RUN_BATTLE_ARRAY_SIZE_MAX=1000000

SAVE_BATTLE_ARRAY_SIZE_MIN=5
SAVE_BATTLE_ARRAY_SIZE_MAX=1000

SAVE_BATTLE_BENCHMARK_SIZE_MIN=100
SAVE_BATTLE_BENCHMARK_SIZE_MAX=10000

BATTLES_LIMIT_MIN=1
BATTLES_LIMIT_MAX=50

STATISTICS_LIMIT_MIN=1
STATISTICS_LIMIT_MAX=1000