APP_ENV=testing

SECRET_KEY=test-secret

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=test_user
DB_PASSWORD=test_password
DB_NAME=sort_portfolio_test

SWAGGER_ENABLED=false
ALLOW_PUBLIC_SIGNUP=true
GUEST_SAVE_ENABLED=false

RUN_BATTLE_ARRAY_SIZE_MIN=100
RUN_BATTLE_ARRAY_SIZE_MAX=10000

SAVE_BATTLE_ARRAY_SIZE_MIN=5
SAVE_BATTLE_ARRAY_SIZE_MAX=100

SAVE_BATTLE_BENCHMARK_SIZE_MIN=100
SAVE_BATTLE_BENCHMARK_SIZE_MAX=1000

BATTLES_LIMIT_MIN=1
BATTLES_LIMIT_MAX=50

STATISTICS_LIMIT_MIN=1
STATISTICS_LIMIT_MAX=1000